.conteiner {
  width: 1110px;
}

h1 {
  margin-top: 180px;
  margin-bottom: 26px;
}

.titles {
  display: flex;

}

.line {
  margin: 0 3px;
}

.fontP {
  color: #909090;
}

.item {
  margin-top: 110px;
  display: flex;
}

.img {
  background-color: grey;
  width: 536px;
  height: 729px;
}

.info {
  margin: auto;
}

.discount {
  text-decoration: line-through;
  margin: 40px;
}

p {
  margin: 30px 0;
}

.addSize {
  display: flex;
  margin: 20px 0;
}

.addSize li {
  margin: 20px 5px;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeSize {
  background: black;
  color: white;
  width: 41px;
  height: 41px;
}

.addColor {
  border-radius: 50%;
  display: flex;
}

.activeColor {
  background: black;
  color: white;
  width: 41px;
  height: 41px;
}

.addColor li {
  margin: 20px 5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amountAndAdd {
  display: flex;
  margin: 10px 5px;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  width: 68px;
  height: 68px;
  border: 1px solid #AFAFAF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.addToCart {
  width: 268px;
  height: 68px;
  background: #6E9C9F;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: white;
  margin-left: 15px;
}

h2 {
  margin: 40px;
}

.similarGard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 398px;
}

.imgSimilarGoods {
  background-color: grey;
  width: 398px;
  height: 598px;
}