.conteiner {
  display: flex;
  width: 1110px;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 111px;
  width: 230px;
}

.titleP {
  display: flex;
}

.fontP {
  color: #909090;
}

.img {
  background-color: grey;
  width: 136px;
  height: 205px;
}

.coupon {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.order {
  display: flex;
  justify-content: flex-end;
  margin-top: 140px;
}

.btn {
  height: 68px;
  width: 248px;
  border: 1px solid #6E9C9F;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.02em;

  /* CTA */

  color: #6E9C9F;
  margin: 10px;
}

.btnTotal {
  height: 68px;
  width: 248px;
  border: 1px solid #6E9C9F;
  background: #F1EADC;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  /* identical to box height, or 35px */

  letter-spacing: 0.02em;

  color: #000000;
  margin: 10px;

}

.btnOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  width: 248px;
  border: 1px solid #6E9C9F;
  background: #6E9C9F;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  /* identical to box height, or 24px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  margin: 10px;

}