.home {
  margin-top: -7px;
}

.homeBlockTop {
  margin: auto;
  display: flex;
  max-width: 1370px;
  height: 826px;
  position: relative;

}

.topTextTitle {
  width: 585px;
  height: 122px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.topTextContent {
  margin-top: 45px;
  width: 385px;
  height: 84px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #000000;
}

.topButton {
  display: flex;
  margin-top: 52px;
  margin-left: 75px;
}

.topButton2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 243px;
  height: 68px;
  background: #6e9c9f;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.topButton1 {
  width: 67px;
  height: 67px;
  background: rgba(110, 156, 159, 0.1);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBlockQuality {
  width: 1110px;
  height: 408ox;
}

.topText {
  width: 665px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topImage {
  position: relative;
  z-index: -1;
  width: 700px;
  height: 100%;
  top: -20px;
}

.topImg1 {
  position: absolute;
  left: -30px;
  top: 61.5%;
  width: 190px;
  height: 318px;
}

.topImg2 {
  position: absolute;
  z-index: -1000;
  width: 434px;
  margin: 120px 0 0 50px;
  height: 652px;
}

.topImg3 {
  position: absolute;
  top: 30%;
  left: 350px;
  width: 197px;
}

.homeBlockCollection {
  width: 1110px;
  height: 827px;
  margin-top: 130px;
}

.collectionTitlle {
  margin-bottom: 90px;
  width: 343px;
  height: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.collectionName {
  width: 145px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.collectionPrice {
  width: 34px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #998e78;
}

.collectionBtn {
  margin: 65px 0 0 430px;
  width: 243px;
  height: 68px;
  border: 1px solid #6e9c9f;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #6e9c9f;
  cursor: pointer;
}

.collectionImage {
  width: 350px;
  height: 478px;
  background-color: gray;
  margin-bottom: 24px;
}

.collectionBlock {
  display: flex;
  justify-content: space-between;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualiteTitle {
  margin-top: 130px;
  width: 372px;
  height: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.qualite {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
}

.qualiteBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 272px;
}

.qualiteImage {
  width: 61px;
  height: 61px;
}

.qualiteBlockTitle {
  width: 117px;
  height: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.qualiteBlockText {
  width: 305px;
  height: 115px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.teamBlokc {
  display: flex;
  width: 1110px;
  height: 487px;
}

.teamImage {
  width: 729px;
  height: 487px;
}

.teamTitle {
  width: 525px;
  height: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 92px;
}

.teamContentText {
  width: 255px;
  height: 216px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.teamContentTitle {
  width: 150px;
  height: 35px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.teamContent {
  margin: 78px 0 78px 124px;
}

.homeBlockTeam {
  margin-top: 130px;
}