.header {
  height: 28px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
    z-index: 1;
  
}
.headerLogo a {
  text-decoration: none;
  width: 103px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 10px;
}
.headerLogo {
  display: flex;
  align-items: center;
}
.nav_link {
  text-decoration: none;
  margin-left: 45px;
  width: 59px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
.headerLick{
    /* width: 270px; */
}
.headersContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}
.headerBasket{
    margin-left: 67px;
}
.active{
  text-decoration: none;
  margin-left: 45px;
  width: 59px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #6e9c9f;

}
.auth{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 90px;
  height: 35px;
  border: 1px solid #6E9C9F;
  background-color: #ffffff;
  text-decoration: none;
  color: #6E9C9F ;
}
